@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
ul{
    list-style: none;
}
:root {
    --dark: #151727;
    --black: #080B29;
    --white: #FFFFFC;
    --dark-violet: #1B0D4B;
    --main-gradient: linear-gradient(to right, #5C4DC1, #4233B4);
    --gold-gradient: linear-gradient(to bottom, #E9E938, #FFFFDA);
}
body{
    font-weight: 400;
    background-color: var(--dark);
    padding: 32px 24px;
    font-size: 24px;

    color: var(--dark);
}
.font-normal{
    font-weight: 400;
}
.w-full{
    width: 100%;
}
.bg-black{
    background-color: var(--black);
}
.bg-gradient{
    background: var(--main-gradient);
}
.bg-white{
    background-color: var(--white);
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}
.hero{
    height: calc(100vh - 64px);
    max-height: 1080px;
    /* overflow: hidden; */
}
.hero__main, .hero__guide{
    border-radius: 32px;
}
.hero__main{
    background: var(--main-gradient);
    padding: 50px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}
.hero__main-logo{
    align-self: flex-start;
    width: 15vw;
    max-width: 237px;
}
.hero__main-logo img{
    width: 100%;
}
.hero__main-image{
    margin-top: -50px;
}
.hero__main-image img{
    width: 100%;
    max-height: 39vh;
}
.hero__main-qr{
    margin-top: auto;
    background-color: var(--dark-violet);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 60px;
}
.hero-new .hero__main-qr{
    flex-direction: row-reverse;
    text-align: right;
    gap: 24px;
    border-radius: 32px;
    padding: 24px 48px;
}
.hero-new .hero__main-qr .qr-title{
    font-size: 28px;
}
.hero-new .hero__main-qr .qr-link, .hero-new .hero__main-qr .qr-bonus{
    font-size: 22px;
}
.qr-description{
    display: flex;
    flex-direction: column;
    font-size: 1.417em;
    font-weight: 700;

}
.qr-title{
    margin-bottom: 8px;
    font-weight: 400;
}
.hero .container{
    display: flex;
    gap: 19px
}
.hero__guide{
    background-color: var(--white);
    padding: 24px 84px 56px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__guide-progress{
    width: 100%;
    background-color: #E2DFFD;
    height: 8px;
    position: relative;
    margin-bottom: 36px;
}
.hero__guide-progress span{
    background: var(--main-gradient);
    position: absolute;
    left: 0;
    height: 100%;
    width: var(--percent, 50%);
    transition: width 0.5s ease-in-out;
}

.hero__guide-image{
    width: 16vh;
    max-width: 200px;
    margin: auto;
    padding-top: 20px;
}
.hero__guide-image img{
    width: 100%
}

.hero__guide-text h2{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;

}
.hero__guide-text h3{
    font-size: 1em;
    padding: 16px 0 24px;
    font-weight: 400;

}
.hero__guide-text h4{
    font-size: .8em;
    padding: 0 0 8px;
    font-weight: 400;

}
footer{
    width: 100%;
    margin-top: auto;
}
footer .hero__guide-footer{
    margin-top: 10px;
}
form{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.hero__guide-footer form{
    margin-top: 0;
}
form .select-circle{
    border: 2px solid #CBC9DB;
    position: relative;
    background-color: transparent;

}
input[type="radio"]{
    display: none;
}
/* Add a dot to the circle when the input is checked */
input[type="radio"]:checked + .select-circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--main-gradient);
    left: 0;
}
.hero__guide-footer input[type="radio"]:checked + .select-circle::after{
    background: url(/img/like.png) no-repeat center top / cover;
    background-size: 100%;
}
.hero__guide-footer{
    width: -webkit-fill-available;
    border-radius: 16px;
    box-shadow: 0px 20px 46px 0px rgba(0, 0, 0, 0.25);
    padding: 24px;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: space-between;
    align-items: center;
}
.hero__guide-footer.black{
    background-color: #080B29;
    gap: 8px;
    padding: 16px;
}
.footer-title{
    width: 100%;
    margin-bottom: 16px;
}
.pills{
    background-color: #F3F3F3;
    padding: 8px;
    border-radius: 8px;
    font-size: 1em;
    color: #414141;
    height: fit-content;

}
.picker{
    display: flex;
    align-items: center;
    gap: 9px
}
.picker-btn{
    outline: none;
    border: none;
    background: #CBC9DB;
    padding: 23px;
    border-radius: 12px;
    cursor: pointer;
    

}
.picker-btn svg{
    fill: #4E4879;
}
.picker-display{
    display: flex;
    align-items: center;
    color: #4E4879;
    font-size: 21px;
    gap: 5px;
    margin-left: auto;
}
.picker-display img{
    max-width: 37px;
}
.timer{
    padding: 13px 45px;
    background-color: rgb(68 53 181 / 29%);
    border-radius: 99px;
    border: 3px solid #4435B5;
    display: flex;
    align-items: center;
    gap: 13px;
    color: #4435B5;
    font-size: 1.708em;
}
.big__timer{
    font-size: 2.5em;
    border-radius: 29px;
    gap: 24px;
    padding: 8px 15px;
}
.timer__icon{
    margin-top: -12px;
}

.timer__icon svg path {
    fill: #A599F5;
}
.big__timer .timer__icon svg path {
    fill: #A599F5;
}
.big__timer .timer__time{
    color: #A599F5;
}
.items-center{
    justify-content: center;
}
.select-title{
    font-size: 1.333em;
    display: flex;
    gap: 10px;
    color: #fff;
    align-items: center;
}
.select-title.bg-white{
    color: var(--dark);
    opacity: .75;
    border-radius: 16px;
    padding: 24px;
}
.select-title.active{
    opacity: 1;
}
.select-circle{
    width: 25px;
    height: 25px;
    border-radius: 99px;
    border: 5px solid #fff;
    background-color: #669BEC;
}
.select-title.bg-white .select-circle{
    background-color: transparent;
    border-color: #CBC9DB;
    border-width: 2px;
}
.select-title.active .select-circle{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.select-circle img{
    width: 100%;
}
.select-title.active .select-circle{
    border:none;
    width: 20px;
    height: 20px;
}
/* Central QUIZ */
.hero.quiz .container, .hero.hero-category .container, .hero.hero-results .container{
    display: block;
}
.quiz-qr{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    background-color: #232050;
    border: 3px solid #4334B5;
    text-align: right;
    border-radius: 0 0 0 22px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 0.917em;
    font-weight: 300;
    padding: 40px 24px;
}
.quiz-qr.horizontal{
    flex-direction: row-reverse;
    background: none;
    border: none;
    align-items: flex-start;
}
.quiz-qr.horizontal .qr-title{
    font-size: 28px;
}
.quiz-qr.horizontal .qr-bonus, .quiz-qr.horizontal .qr-link{
    font-size: 22px;
}
.quiz-qr img{
    width: 174px;
}
.quiz-qr .qr-title{
    font-weight: 300;
}
.quiz-qr .qr-link, .quiz-qr .qr-bonus{
    font-weight: 500;
    font-size: 0.917em;
}
.quiz__item{
    background: var(--main-gradient);
    padding: 24px;
    border-radius: 16px;
    color: #fff;
    width: calc(25% - 45px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
}
.quiz__item.inactive{
    background: #0D0E18;
    border: 2px solid #434343;
    height: fit-content;
}
.quiz__item.inactive .choices{
    border-top: 2px solid #DEDEDE;
}
.choices{
    padding-top: 24px;
    border-top: 2px solid #180D73;
}

.quiz__item.inactive .quiz__item-choice{
    color: #949494;
    background-color: transparent;
}
.header{
    display: flex;
    align-items: center;
    gap: 18px
}
.header .title{
    color: #A599F5;
    font-size: 1.583em;
}
.hero.quiz .container{
    flex-direction: column;
    gap: 33px;
}
.quiz{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 33px;
    align-items: flex-start;
    justify-content: center;
}
.container .quiz{
    padding-top: 240px

}
.quiz-new .container .quiz{
    padding: 0;
}
.leaderboard .container .quiz{
    padding: 0;
    max-width: 1397px;
    margin: auto;

}


.quiz__item-title{
    font-size: 1.167em;
    font-weight: 400;
    width: 100%;
    min-height: 150px;
}
.quiz__item-choice{
    background: #FFFFFC;
    padding: 16px;
    border-radius: 16px;
    color: #151727;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.quiz__item-choice.selected{
    color: #CCF3CD;
    background-color: #1F1F1F;
}
.quiz__item-choice.selected .picker-display span{
    color: #fff;
}
.quiz__item-choice.selected .pills{
    color: #174C2C;
    background-color: #CCF3CD;
    position: absolute;
}
.choice-bottom{
    display: flex;
    gap: 18px;
    margin-top: 18px;
    align-items: center;
}
.choice-progress{
    width: 100%;
    height: 20px;
    background-color: #EBEBEB;
    border-radius: 8px;
    position: relative;
}
.choice-progress span{
    width: 30%;
    background: var(--main-gradient);
    height: 100%;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
}
.picker-display.greyscale img{
    filter: grayscale(1);
}
/* End central QUIZ */

/* Central category */
.hero-category{
    /* margin-top: 204px; */
}
.hero-category .quiz__item{
    width: 100%;
    max-width: 1516px;
}
.hero-category .container{
    /* padding: 0 280px 0 144px; */
}
.hero-category .quiz__item-title{
    font-size: 2.167em;
}
.quiz__item-subtitle{
    font-size: 1.3em;
}
.quiz__item-category .choice-progress{
    height: 48px;
    border-radius: 24px;
}
.quiz__item-category .choice-progress span{
    border-radius: 24px;
    background: #190D73;
}
.quiz__item-category .bottom{
    display: flex;
    justify-content: space-between;
    font-size: 1.417em;
    margin-top: 16px;
}
.hero-category .choices{
    gap: 32px;
    display: flex;
    flex-direction: column;
}
/* End Central category */
/* Central results */
.hero-results .quiz__item{
    width: 50%;
}
.quiz__item-result{
    background: #fff;
    border-radius: 32px;
    padding: 40px;
    color: #1F1F1F;
    display: flex;
    align-items: center;
} 
.quiz__item-result .icon{
    font-size: 2.833em;
}
.quiz__item-result .name{
    font-size: 1.167em;
}
.quiz__item-result .result{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: auto;
}
.hero-results .choices {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quiz__item.leaderboard{
    background: #1E2457;
    width: 40%;
    justify-content: start;
}
.quiz__item.leaderboard .quiz__item-result{
    color: #ADADAD;
}
.quiz__item.leaderboard .quiz__item-result .name, .quiz__item.leaderboard .quiz__item-result .result{
    font-size: 1.167em;
    font-weight: 400;
}
.quiz__item.leaderboard .quiz__item-result{
    border-radius: 16px;
    background: #080B29;
    padding: 16px 24px;
}
.quiz__item.leaderboard .circle{
    width: 32px;
    height: 32px;
    border: 5px solid #fff;
    border-radius: 99px;
    margin-right: 24px;
}
.hero-results .quiz__item.leaderboard .choices{
    gap: 4px;
}
.hero-results .container {
    /* padding: 0 260px 0 144px; */
}
.hero-results .quiz {
   flex-wrap: nowrap;
}


/* END Central results */


/* Cards */
.cards-wrapper{
    padding: 20px;
    border-radius: 30px;
    max-width: 1396px;
    margin: auto;
}
.cards{
    width: 100%;
}
.cards__title{
    display: flex;
    color: var(--white);
    align-items: center;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 29px;
    /* justify-content: space-between; */
}
.cards__title-index{
    font-size: 2em;
}
.cards__title-text{
    margin-left: 10px;
}
.cards__title-arrow{
    margin-left: auto;
}
.cards__title-arrow svg{
    width:  30px;
}
.card__item{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
   
}
.card__item.disabled .card__item-body, .card__item.disabled .chip {
background: #CBC9DB;
border-color: #FFFFFC;
}
.card__item.disabled .progress-bar{
    opacity: 0.5;
    border-color: #FFFFFC;
}

.card__item-dislike, .card__item-like{
    width: 40px;
    

    
}
.card__item-dislike img, .card__item-like img {
    width: 100%;
    border-radius: 555px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card__item-body{
    background: var(--white);
    padding: 9px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    position: relative;
    border: 3px solid #CBC9DB;
}
.card__item-body-center{
   width: 100%;
    text-align: center;
}
.card__item-body-left, .card__item-body-right{
    position: absolute;
    bottom: 0;
    margin-bottom: -10px;
    font-size: 0.5em; 
}

.card__item-body-left{
    left: 20px;
}
.card__item-body-right{
    right: 20px;
}
.card__item-body-left .chip{
    background: var(--white);
    padding: 2px 7px;
    border: 2px solid #CBC9DB;
    border-radius: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.chip-counter span{
    font-weight: 300;
    font-style: italic;
}
.card__item-body-left .chip img{
    width: 10px;
    margin-right: 2px;
}
.card__item-body-right{
    display: flex;
}
.like-item{
    width: 16px;
    border-radius: 555px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.card__item-body-right .like-item:nth-last-child(1) {
    transform: none; /* Last item: no transform */
}

.card__item-body-right .like-item:nth-last-child(2) {
    transform: translateX(4px);
}

.card__item-body-right .like-item:nth-last-child(3) {
    transform: translateX(8px);
}

.card__item-body-right .like-item:nth-last-child(4) {
    transform: translateX(12px);
}
.card__answer{
    background: var(--gold-gradient);
    border-radius: 5px; 
    padding: 6px; 
    border: 2px solid;
    font-style: italic;
}

/* End Cards */
.central-title{
    text-align: center;
    color: #A599F5;
    font-weight: 400;
    margin-bottom: 25px;
}
.central-title span{
    font-size: 1.375em;
}
.central-title .current-round, .total-rounds{
    display: inline-block;
}

.central-title h2{
    font-weight: 400;
    font-size: 2.7em;
}
.hero-category .chip{
    font-size: 1.74em;
}
.hero-category .chip img{
    width: 20px;
}

.progress-bar {
    width: 90%; /* Adjust width as needed */
    height: 30px;
    background-color: #e0e0e0; /* Light grey background */
    border-radius: 550px; /* Rounded corners */
    margin: 0 auto; /* Center the bar */
    overflow: hidden;
    border: 2px solid #CBC9DB;
}


.progress-title{
    font-size: 1.6em;
    margin-bottom: 5px;
}
/* Inner progress styling */
.progress {
    height: 100%;
     /* Adjust percentage based on progress */
    background: linear-gradient(to bottom, #83BCFF, #B4D2F4); /* Gradient color */
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.6); /* Inner light effect */
}
.hero-category .card__item-body{
    border-radius: 30px;
}
.hero-category .card__item-body-center{
    margin-bottom: 20px;
}
.quiz .card__item .progress-title{
    text-align: center;
    font-size: 1em;
    color: var(--black);
}
.quiz .card__item-body-left .chip{
    color: var(--black)
}
.quiz .progress-bar{
    background: var(--gold-gradient);
}
.quiz .card__item-body {
    padding-bottom: 20px;
}
.quiz .card__item-body-left .chip img{
    width: 18px;
}
.quiz .card__item-body-left .chip {
    font-size: 1.3em;
    gap: 3px;
}
.quiz-progress .quiz__item{
    gap: 0;
}
.hero-category .central-title{
    margin-top: 204px;
}
.hero-results .choices{
    padding: 0;
    border: 0;
}
.end-game{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-height:1090px){
    .leaderboard{
        font-size: 19px;
    }
    .quiz__item.leaderboard .circle{
        width: 16px;
        height: 16px;
    }
}
@media screen and (max-width:1600px){
    .quiz__item.leaderboard .quiz__item-result {
        padding: 12px 16px;
        border-radius: 10px;
    }
}
@media screen and (max-width:1520px){
    body{
        font-size: 19px;
    }
   
    .hero__guide{
        padding: 24px 54px 56px;
    }
    /* .hero__guide-image{
        padding: 30px 0;
        width: 7vw;
    } */
    .hero__guide-text h3{
        font-size: 31px;
    }
    .hero__main-qr img{
        width: 12vw;

    }
    .qr-description{
        font-size: 26px;
    }
    .hero__guide-footer{
        margin-top: 50px;
    }
    .timer{
        padding: 10px 25px;
        font-size: 27px;
    }
    .timer.big__timer{
        font-size: 2em;
        padding: 8px 15px;
        border-radius: 19px;
        gap: 12px;
    }
    .timer.big__timer .timer__icon {
        margin-top: 0;
    }
    
    .select-title{
        font-size: 16px;
    }
    .select-circle {
        width: 16px;
        height: 16px;
    }
    .hero-category{
        margin-top: 0;
    }
    .hero-category .container{
        /* padding: 0 18vw 0 3vw; */
    }
    .hero-results .container{
        /* padding: 0 17vw 0 3vw; */
    }
    .quiz__item-category .choice-progress {
        height: 20px;
    }    
    .quiz__item.leaderboard .circle{
        width: 12px;
        height: 12px;
        border-width: 3px;
        margin-right: 8px;
    }
    
    .quiz__item-result .icon {
        font-size: 2.133em;
    }
}
@media screen and (max-width:1280px){
    body{
        font-size: 17px;
    }
    .hero__main, .hero__guide{
        padding: 30px 27px;   
    }
    .hero__main{
        width: 50%;
    }
    .hero__main-qr{
        gap: 20px;
    }
    .hero__guide-footer{
        padding: 12px 14px;
    }
    .hero__guide-text h3 {
        font-size: 26px;
    }
    .hero__guide-text h2, .footer-title {
        font-size: 18px;
    }
    .pills{
        font-size: 18px;
    }
    .picker-btn{
        padding: 19px;
    }
    /* central quiz media */
    .quiz__item-title{
        font-size: 19px;
    }
    .quiz-qr {
        padding: 20px 17px;
    }
    .quiz-qr img{
        width: 75px;
    }
    .quiz-qr .qr-link, .quiz-qr .qr-bonus{
        font-size: 15px;
    }
    .quiz-qr .qr-title{
        font-size: 16px;
    }
    .header .title{
        font-size: 30px;
    }
    .quiz{
        gap: 8px;
    }
    .container .quiz {
        padding-top: 100px;
    }
    .quiz__item-choice{
        font-size: 16px;
    }
    .picker-display img{
        width: 20px;
    }
    .picker-display span{
        font-size: 16px;
    }
    .choice-progress{
        height: 8px;
    }
    .choice-bottom .pills{
        font-size: 13px;
    }
    .quiz__item{
        padding: 18px;
        width: calc(30% - 20px)
    }
    .quiz-new .quiz__item{
        width: 28%
    }
    .quiz__item-result {
        border-radius: 17px;
        padding: 20px;
        font-size: 12px;
    }
    .card__item-body-left {
        left: 10px;
    }
    .card__item-body-right {
        right: 10px;
    }
    .card__item-dislike, .card__item-like {
        width: 30px;
    }
    /* ENd central quiz media */
}